.navbar-unordered{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar{
    display: flex;
    flex-direction: row;
}

.navbar-unordered{
    width: 15rem;
}

.navbar-link{
    width: 5rem;
}

a{
    all: unset;
    font-size: 1.25rem;
    color: #454545;
}