<div class="row">
    <div class="margin-middle col-10 col-lg-5 center">
        <h1>VAT lookup</h1>
        <p>
            This web application converts a VAT number into useful info.
        </p>
        <p>
            This product is powered by the Erply API.
        </p>
    </div>
    <div class="margin-middle col-12">
        <div class="frame">
            <app-search-form (search)="submitSearch($event)"></app-search-form>
        </div>
    </div>

    <section class="margin-middle col-12 col-md-8 margin-top">

        <div #searchResult></div>
        <app-loading-spinner *ngIf="loading"></app-loading-spinner>
    </section>

    <section class="margin-middle col-12 margin-top">
        <div class="section-head" *ngIf="previousResults.length > 0">
            <h3>Previous searches</h3>
        </div>
        <div class="row">
            <div #searchHistory></div>
        </div>
    </section>
</div>
