<div class="row">
    <div class="margin-middle col-5 center">
        <h1>Introduction Header</h1>
        <p>
            Intro text intro trext intro text intro text intro text Intro text intro trext intro text intro text intro text Intro text intro trext intro text intro text intro text
        </p>
        <p>
            Intro text intro trext intro text intro text intro text
        </p>
    </div>
    <div class="margin-middle col-7">
        <div class="frame">
            <app-search-form (search)="submitSearch($event)"></app-search-form>
        </div>
    </div>
    <div class="margin-middle col-7 margin-top">
        <app-search-display></app-search-display>
    </div>
</div>
