/* You can add global styles to this file, and also import other style files */
html, body, app-root{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body{
    font-family: 'Roboto Condensed';
    background: rgb(48, 56, 65);
    color: rgb(243, 247, 255);
}

#main-container{
    padding-top: 5rem;
    padding-bottom: 2.5rem;
}

input[type="text"]{
    color: rgb(243, 247, 255);
    background: #36404a;
}

input[type="text"]::placeholder{
    color: rgb(243, 247, 255);
}

.error-container{
    color: rgb(243, 247, 255);
    background: rgba(244, 67, 54, 1);
}


/* Bootstrap style CSS classes */

.none{
    display: none;
}

.margin-middle{
    margin: 0 auto;
}

.center{
    text-align: center;
}

.margin-top{
    margin-top: 1rem;
}

/* Search result display CSS */
.panel{
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.075);
    background: #36404a;
}

.panel-header, .panel-footer{
    background: #4e5b67;
    text-align: center;
    padding: 0.5rem 0;
}

.panel-header h3{
    margin: 0;
}

.panel-body{
    padding: 1rem 1rem;
}

.request-info{
    float: right;
}


/*CSS screen size optimization*/

@media screen and (min-width: 900px){
    #main-container{
        padding-right: 1rem;
        padding-left: 1rem;
    }
}